<%= form_tag('/confirm', class: "form-horizontal", method: 'post') do %>
  <%= form_group(form_label: "コース") do %>
    <select class="form-control" name="applicants[course]" >
      <option value="">選択してください</option>
      <% Applicant::COURSES.each do |course| %>
        <option value="<%= course %>" <%= "selected='selected'" if applicant[:course] == course %>><%= course %></option>
      <% end %>
    </select>
  <% end %>

  <%= form_group(form_label: "メールアドレス") do %>
    <input name="applicants[email]" type="text" class="form-control" value="<%= applicant[:email] %>">
  <% end %>
  

  <%= form_group do %>
    <input type="submit" class="btn btn-block btn-primary" value="送信">
  <% end %>
<% end %>
